.projectModal {
  background-color: #79746d;
  z-index: 1;
  position: fixed;
  width: 950px;
  height: 650px;
  top: 55px;
  margin-left: 45px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.projectContainer {
  display: flex;
  flex-direction: row;
}

.imageHolder {
  background-color: white;
  height: 565px;
  width: 425px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageHolder img {
  height: 300px;
  width: 375px;
  margin-top: -40px;
}

.textHolder {
  background-color: #79746d;
  height: 565px;
  width: 425px;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}

.cross {
  position: fixed;
  margin-left: 835px;
  margin-top: -560px;
  cursor: pointer;
}

.projectName {
  display: flex;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 23px;
  cursor: pointer;
  height: 40px;
  transition: all 0.5s;
}

.projectName:hover {
  text-decoration: underline;
  font-size: 25px;
}

.shortDescription {
  font-style: italic;
  display: flex;
  align-items: center;
  height: 150px;
}

.Description {
  display: flex;
  height: 200px;
  font-size: 16px;
  align-items: center;
}
