.main_container {
  position: relative;
  top: -7em;
}

.photo_gallery img {
  width: 20rem;
  height: 14em;
  transition: all 0.5s;
  margin-top: 1em;
  margin-left: 1em;
}

.photo_gallery img:hover {
  transform: scale(1.1);
}

.gallery {
  display: inline-flex;
  flex-direction: row;
  height: 45em;
  /* margin-right: 45px; */
  /* overflow: hidden; */
}

.photo_gallery {
  display: inline-flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  scrollbar-width: none;
}
.photo_gallery::-webkit-scrollbar {
  display: none;
}

.gallery {
  display: flex;
  justify-content: center;
}

.gallery_container {
  position: relative;
  top: -25px;
  opacity: 0.5;
  filter: blur(3px);
  transition: all 1s;
}

.Title {
  font-size: 41px;
  position: absolute;
  display: flex;
  left: 9.5em;
  top: 8em;
  color: white;
  z-index: 3;
  transition: all 0.5s;
}

.gallery_container:hover {
  filter: blur(0px);
  opacity: 1;
}
.gallery_container:hover + .Title {
  opacity: 0;
}
