.backgrnd {
  background-image: url("../images/sunsetBack.png");
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 900px;
}
.leftContainer {
  position: relative;
  background-color: white;
  width: 600px;
  height: 720px;
  margin-left: 90px;
  margin-top: 120px;
  margin-bottom: 110px;
  display: flex;
  justify-content: center;
}

.imgDiv {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.imgDiv img {
  position: absolute;
  right: 1px;
  width: 210px;
}

.textContainer {
  display: flex;
  background-color: #322e2e;
  width: 475px;
  height: 510px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 61px;
  justify-content: center;
  color: white !important;
  align-items: center;
  font-size: 28px;
  padding: 60px;
}

.navColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 75px;
}

.navColumn div {
  display: flex;
  justify-content: center;
  background-size: 100%;
  width: 225px;
  height: 70px;
  align-items: center;
  border-radius: 40px;
  border: 2px solid #ffffff;
  color: white;
  transition: all 0.5s;
}

.navColumn div:hover {
  transform: scale(1.2);
}

.navColumn div:nth-child(1) {
  background-image: url(../images/figma_photos/blog.png);
  background-size: 100%;
}

.navColumn div:nth-child(2) {
  background-image: url(../images/figma_photos/photography.png);
  background-size: 100%;
}

.navColumn div:nth-child(3) {
  background-image: url(../images/figma_photos/movies.png);
  background-size: 100%;
}

.navColumn div:nth-child(4) {
  background-image: url(../images/figma_photos/portfolio.png);
  background-size: 100%;
}

.navColumn div:nth-child(5) {
  background-image: url(../images/figma_photos/philosophy.png);
  background-size: 100%;
}
